<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unse.gestiondepolideportivo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Actividades.EnviarDatosReservasActivity"></activity>
        <activity android:name=".Actividades.ListadoReservaActivity"/>
        <activity android:name=".Actividades.GestionReservaActivity"/>
        <activity android:name=".Actividades.MainActivity"/>
        <activity android:name=".Actividades.NewReservaActivity"/>
        <activity android:name=".Actividades.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Actividades.SplashScreenActivity" />
        <activity android:name=".Actividades.GestionPiletaActivity" />
        <activity android:name=".Actividades.ListadoIngresoActivity" />
        <activity android:name=".Actividades.EnviarDatosPiletaActivity" />
        <activity android:name=".Actividades.IngresoPolideportivoActivity" />
    </application>

</manifest>